## SQL BOLT Answers

Hi All

This is the answers I came up with to solve the problems in sqlbolt.com.
I have used sqlbolt to practice my SQL questions.

# SQL Lesson 1: SELECT queries 101

Exercise 1: Find the title of each film <br>
SELECT Title FROM movies;

Exercise 2: Find the director of each film <br>
SELECT Director FROM movies;

Exercise 3: Find the title and director of each film <br>
SELECT Title, Director FROM movies;

Exercise 4: Find the title and year of each film <br>
SELECT Title, Year FROM movies;

Exercise 5: Find all the information about each film <br>
SELECT * FROM movies;

# SQL Lesson 2: Queries with constraints (Pt. 1)

Exercise 1: Find the movie with a row id of 6 <br>
SELECT * FROM movies WHERE id = 6;

Exercise 2: Find the movies released in the years between 2000 - 2010 <br>
SELECT * FROM movies WHERE year Between 2000 and 2010;

Exercise 3: Find the movies not released in the years between 2000 - 2010 <br>
SELECT * FROM movies WHERE year NOT Between 2000 and 2010;

Exercise 4: Find the first 5 Pixar movies and their release year <br>
SELECT * FROM movies WHERE id <=5;

# SQL Lesson 3: Queries with constraints (Pt. 2)
Exercise 1: Find all the Toy Story movies<br>
SELECT * FROM movies WHERE title Like "Toy Story%";

Exercise 2: Find all the movies directed by John Lasseter<br>
SELECT * FROM movies WHERE Director = "John Lasseter";

Exercise 3: Find all the movies (and director) not directed by John Lasseter<br>
SELECT Title, Director FROM movies WHERE Director <> "John Lasseter";

Exercise 4:Find all the WALL-* movies<br>
SELECT * FROM movies WHERE Title Like "WALL-%";