In [3]:
#pip install python-geosupport

In [4]:
import pandas as pd
df = pd.read_csv("Address_File.csv", delimiter=",")

In [5]:
# Import the library and create a `Geosupport` object.
from geosupport import Geosupport
g = Geosupport()

# Call the address processing function by name
result = g.address(house_number=305, street_name='Court Street', borough_code='3') 
result["State Senatorial District"]

'26'

In [6]:
#Retrieve City Council District
result["City Council District"]

'39'

In [7]:
#Replace Boroughs with Code number
df['Borough'] = df['Borough'].replace(['New York', "Bronx", "Brooklyn", "Queens", "Staten Island"], [1,2,3,4,5])
print(df)

   Record ID       Street Name  Borough State  Zipcode
0          1  305 Court Street        3    NY    11231
1          2      456 Broadway        1    NY    10013
2          3    789 Park Place        3    NY    11216
3          4     969 43 Street        3    NY    11219
4          5     505 51 Street        3    NY    11220

In [8]:
#Split address into House Number and Street Number
df[["House_Number", "Street_Number"]] = df['Street Name'].str.split(' ', expand=True, n = 1)

In [9]:
#Edit the datatpes
df.dtypes
df['House_Number'] = df['House_Number'].astype(int)
df['Street_Number'] = df['Street_Number'].astype(str)
df['Borough'] = df['Borough'].astype(str)

In [10]:
#create a list for city council, assembly district, and congressional district
city_council = []
assembly_district = []
congressional_district = []
senate_district =[]

# Loop through each row in the DataFrame.
for index, row in df.iterrows():
  # Create an Address object using the House Number, Street Number, and Borough.

  h = row["House_Number"]
  s = row["Street_Number"]
  b = row["Borough"]

  #Get the result
  result = g.address(house_number=h, street_name= s, borough_code= b) 

  #Get City Council District
  city_council.append(result["City Council District"])

  #Get Assembly District
  assembly_district.append(result["Assembly District"])

  #Get Congressional District
  congressional_district.append(result["Congressional District"])

  #Get Senate District
  senate_district.append(result["State Senatorial District"])

#add the 3 list as column to the dataframe
df["City Council"] = city_council
df["Assembly District"] = assembly_district
df["Congressional District"] = congressional_district
df["Senate District"] = senate_district

In [11]:
df

,Record ID,Street Name,Borough,State,Zipcode,House_Number,Street_Number,City Council,Assembly District,Congressional District,Senate District
0,1,305 Court Street,3,NY,11231,305,Court Street,39,52,10,26
1,2,456 Broadway,1,NY,10013,456,Broadway,01,66,10,27
2,3,789 Park Place,3,NY,11216,789,Park Place,36,43,09,20
3,4,969 43 Street,3,NY,11219,969,43 Street,38,51,10,17
4,5,505 51 Street,3,NY,11220,505,51 Street,38,51,10,26

In [12]:
df.to_csv('Updated_Imports.csv')