In [1]:
# variables
# calling the memory
a = 10
david = a
print(david)

10

In [2]:
# Types
print(david)
type(david)

10

int

In [3]:
# Types
y = "Minion movie must move more"
print(y)
type(y)

Minion movie must move more

str

In [4]:
total = 10 + 12
print(total)

22

In [5]:
# Assigning Multiple Values + Concatenation
x = "Red"
y = "Blue"
z = "Red"

print(x)
print(y)
print(z)

Red
Blue
Red

In [6]:
# Same thing
x,y,z = "Red", "Blue", "Yelow"

print(x)
print(y)
print(z)

Red
Blue
Yelow

In [7]:
# Tuple
z = "Red", "Blue", "Yelow"

print(z)
type(z)

('Red', 'Blue', 'Yelow')

tuple

In [8]:
# List
ice_cream = ["Chocolate", "Vanilla", "Hershey"]
x,y,z = ice_cream

print(x)
print(y)
print(z)

type(ice_cream)

Chocolate
Vanilla
Hershey

list

In [9]:
# Concat
x = "I love"
y = " myself"
z = 2
print(x + y)

I love myself

In [10]:
# Concat with different data types
print(x,z)

I love 2

In [11]:
# Slicing Variables
String = "Brain"
#         01234 -> Start with 0
#        -54321 -> They are all negative

String[0]

'B'

In [12]:
String[-3]

'a'

In [13]:
# Start : Stop : Step
String[0:3]

'Bra'

In [14]:
# Start : Stop : Step
String[0::2]

'Ban'

In [15]:
# Start : Stop : Step
abc = "I do not know what I am doing. I am kidding"

abc[-12:0:-3]

'IgomIa nt  '

In [16]:
# Data Types
# String = Text
# Int = Numbers

# Mutable = Values can change
# String, number, tuple

# Immutable = Values that cannot change


# 3 number types
# integer = whole numbers
# float = decimal numbers
# complex numbers = complex numbers

# Boolean
# Either true or false or 0 (false) 1 (true)

# Sequence Type
# String, List, Tuples
# Has a start and a bottom.
# We can slice with Slicing Variables

# Set Types
# Unordered collection of data type that is iterable, mutable and has no duplicate element
# Good for comparing data

# Dictionary
# Key Value pair
# "Key" : Values
# Values can be any data types and be duplicates
# Key has to be unique

In [19]:
# Number data type
type(round(1+1.5333,2))

float

In [20]:
type(123j)

complex

In [21]:
type(1)

int

In [22]:
# Boolean Data Type
3 > 5

False

In [24]:
3 == 2

False

In [26]:
type(2 == 2)

bool

In [27]:
# Strings
"Double Qoute"

'Double Qoute'

In [34]:
multline = """"
Hellow World

"""

multline

'"\nHellow World\n\n'

In [37]:
x = "Single\n Quote"

x

'Single\n Quote'

In [47]:
# Printing allows for the use of \n
x = "Single\nQuote"

print(x)

Single
Quote

In [48]:
# Double quotes allows the use o quotation in the string
y = "He's 'the' worst"

print(y)

He's 'the' worst

In [49]:
# r gives the raw string
y = r"He's 'the' worst"

print(y)

He's 'the' worst

In [53]:
second_Line = """
Thats a great use case
How is life

"""

print(second_Line)

Thats a great use case
How is life

In [54]:
'Hello World'[0:5]

'Hello'

In [56]:
# multiplying strings

"Hello " * 3

'Hello Hello Hello '

In [57]:
"Hello " + "World"

'Hello World'

In [58]:
# Values of a string cannot be change
# Immaluable

In [59]:
x = "Hello"

del x

In [62]:
# List
# List in python are ordered, changeable, heterogenous, and can contain duplicate
# List may contain many different data types

x = [1,2,3]

type(x)

list

In [64]:
# Making a list
cat_list = [1, "Cat", "Meow", [1,4,6]]

for values in cat_list:
    print(values)

1
Cat
Meow
[1, 4, 6]

In [68]:
# Add values
cat_list.append("Kitty")

cat_list

[1, 'Cat', 'Meow', [1, 4, 6], 'Kitty', 'Kitty', 'Kitty']

In [71]:
# Changing Values
cat_list[3] = 10

cat_list

[1, 'Cat', 'Meow', 10, 'Kitty', 'Kitty', 'Kitty']

In [76]:
# Adding and looking into a list of list
cat_list.append([1,2,3,4,5])
cat_list[-1][-3]

3

In [78]:
# adding list
list1 = [1, "Great"]
list2 = [2, "Okay"]

list3 = list1 + list2

list3

[1, 'Great', 2, 'Okay']

In [79]:
# Tuples
# Tuples are immutable
# Tuples are stored in parenthesis
list10 = (1,2,4)

type(list10)

tuple

In [80]:
# making a Tuple
list123 = (1,3,"Hellow", [1,43,"Woof"], (1,2,3))

print(list123)

(1, 3, 'Hellow', [1, 43, 'Woof'], (1, 2, 3))

In [81]:
# Variable Slicing
list123[4]

(1, 2, 3)

In [82]:
# Cannot append
list123.append("Cute")

AttributeError: 'tuple' object has no attribute 'append'

In [83]:
# Sets
# Unordered of data
# it is mutable
# Not duplicate elements
# it is in brackets

# Check if specific list is in braker

set_1 = {1,4, "Meow", (1,6,3)}

type(set_1)

set

In [86]:
print(set_1)

{1, 4, 'Meow', (1, 6, 3)}

In [91]:
# Sets remove all duplicate values
set_2 = {1,2,3,4,4,4,4,2,2,2,2,1}

print(set_2)

{1, 2, 3, 4}

In [93]:
# Adding values in set
set_2.update([6,2,1])
# We have to do it with a list

print(set_2)

{1, 2, 3, 4, 6}

In [95]:
# Discard
set_2.discard(2)

print(set_2)

{1, 3, 4, 6}

In [97]:
# Remove
set_2.remove(99)

# Remove makes a removal when object is there
# Discard runs even when values is not the same

KeyError: 99

In [98]:
# | Shows the values unique to both
set_9 = {1,3,6}
set_99 = {1,3,"Meow", "Ruff"}

print(set_9 | set_99)

{1, 3, 6, 'Ruff', 'Meow'}

In [99]:
# & shows the values that intersect
set_9 = {1,3,6}
set_99 = {1,3,"Meow", "Ruff"}

print(set_9 & set_99)

{1, 3}

In [100]:
# - shows that are unique
set_9 = {1,3,6}
set_99 = {1,3,"Meow", "Ruff"}

print(set_9 - set_99)

{6}

In [102]:
# ^ shows values that do not duplicate for both
set_9 = {1,3,6}
set_99 = {1,3,"Meow", "Ruff"}

print(set_9 ^ set_99)

{6, 'Ruff', 'Meow'}

In [105]:
# Dictionaries
dict_1 = {"Name": "Bob", "Age": 1 , "Gender": "Male", "Favorite_Ice_Cream": ["Vanilla", "Chocolate"]}

type(dict_1)

dict

In [106]:
print(dict_1)

{'Name': 'Bob', 'Age': 1, 'Gender': 'Male', 'Favorite_Ice_Cream': ['Vanilla', 'Chocolate']}

In [107]:
# Using keys to find values
dict_1.keys()

dict_keys(['Name', 'Age', 'Gender', 'Favorite_Ice_Cream'])

In [108]:
# Get Values
dict_1.values()

dict_values(['Bob', 1, 'Male', ['Vanilla', 'Chocolate']])

In [109]:
# No index slicing
dict_1[1]

KeyError: 1

In [110]:
# Call by the key
dict_1["Name"]

'Bob'

In [111]:
dict_1["Favorite_Ice_Cream"][0]

'Vanilla'

In [112]:
# adding a new key value pair
dict_1["Cost"] = 5

In [113]:
dict_1

{'Name': 'Bob',
 'Age': 1,
 'Gender': 'Male',
 'Favorite_Ice_Cream': ['Vanilla', 'Chocolate'],
 'Cost': 5}

In [114]:
# Update key
dict_1.update({'Name': 'Bob',
 'Age': 25,
 'Gender': 'Male',
 'Favorite_Ice_Cream': ['Vanilla', 'Chocolate'],
 'Cost': 5})

In [115]:
dict_1

{'Name': 'Bob',
 'Age': 25,
 'Gender': 'Male',
 'Favorite_Ice_Cream': ['Vanilla', 'Chocolate'],
 'Cost': 5}

In [116]:
# Deleting
del dict_1["Gender"]

In [117]:
dict_1

{'Name': 'Bob',
 'Age': 25,
 'Favorite_Ice_Cream': ['Vanilla', 'Chocolate'],
 'Cost': 5}

In [119]:
# Get the values
dict_2 = dict_1["Age"]

print(dict_2)

25

In [124]:
nested_dic = {"Name" : "Bob", "Age" : 2, "Previous_Order": {'Name': 'Bob',
 'Age': 25,
 'Favorite_Ice_Cream': ['Vanilla', 'Chocolate'],
 'Cost': 5}}

In [125]:
nested_dic["Previous_Order"]["Age"]

25

In [126]:
# Converting Data Types
# Implicit conversion = When python changes data type
# Explicit converion = The user has to change the data type

In [127]:
# Implicit
type(1)

int

In [128]:
type(1/3)

float

In [129]:
# Explicit Conversion
x = 3

type(x)

int

In [132]:
num_str = "7"

type(num_str)

str

In [133]:
new_num = int(num_str)

In [136]:
num_sum = x + new_num

num_sum

10

In [141]:
# List to Set

my_list = [1,2,3,4,5,5,5,6,7,1]

In [142]:
my_list_convert = set(my_list)

print(my_list_convert)

{1, 2, 3, 4, 5, 6, 7}

In [144]:
# List to tuple
my_tuple = tuple(my_list)

print(my_tuple)

(1, 2, 3, 4, 5, 5, 5, 6, 7, 1)

In [146]:
# Dict to list
dict_type = {"Name":"Bob", "Age": 4}

In [147]:
new_list = list(dict_type)

new_list

['Name', 'Age']

In [148]:
new_list = list(dict_type.values())

new_list

['Bob', 4]

In [149]:
# String to others
long_str = "I like my life"

set(long_str)

{' ', 'I', 'e', 'f', 'i', 'k', 'l', 'm', 'y'}

In [150]:
list(long_str)

['I', ' ', 'l', 'i', 'k', 'e', ' ', 'm', 'y', ' ', 'l', 'i', 'f', 'e']

In [152]:
# Operators
# Carry out arithmetic or logical computations

# List of Operators
# Arithmetic
# Comparison
# Logical Operators
# Assignment Operators
# Membership Operator
# Identity Operator
# Bitwise Operator

In [1]:
# Comparison Operators
10 == 5

False

In [2]:
5 > 10

False

In [3]:
10 < 1

False

In [4]:
x = 12

x <= 3

False

In [5]:
10 !=3

True

In [7]:
# Alphabetical order
"Hello People How are you" < "Vanilla"

True

In [8]:
# Arithmetic Operators
1 + 1

2

In [9]:
10 - 5

5

In [10]:
3*3

9

In [11]:
3**3

27

In [12]:
5/2

2.5

In [13]:
5%2

1

In [14]:
10//3

3

In [15]:
import math

In [16]:
math.ceil(5.25)

6

In [17]:
math.floor(5.7)

5

In [19]:
mylist = [1,5,2,5]

math.fsum(mylist)

13.0

In [20]:
math.sqrt(4)

2.0

In [21]:
# Logical Operators
# And - Both have to be true
# Or - One of them has to be true
# Not - Inverse

In [22]:
(4 > 2) and (2 < 3)

True

In [24]:
(4 > 2) or (2 < 2)

True

In [25]:
# Membership operators
# See if value is in a set, list or dictionary

list_a = [1,2,3,4,5]

1 in list_a

True

In [26]:
7 not in list_a

True

In [27]:
# Assignment Operator

x = 5

In [29]:
y = 5
x = 1
while x < 10:
    y += 5
    x += 1
    print(y)
    print(x)

10
2
15
3
20
4
25
5
30
6
35
7
40
8
45
9
50
10

In [32]:
# Identity and Bitwise Operators
# Check if the memory is the exact same

x = [1,5,"Hi"]
y = [1,5,"Hi"]
z = x

x is y

False

In [33]:
x is z

True

In [37]:
# Eventhough the list is the same, the variables are different
# Bitwise

a = 20
b = 5

print(bin(a))
print(bin(b))

0b10100
0b101

In [38]:
a & b

4

In [39]:
bin(a & b)

'0b100'

In [40]:
# Statements
# Conditions
# if, while, for

In [41]:
# If statement
x = 10

if x > 5:
    print("x is greater than 5")

x is greater than 5

In [42]:
invite_list = ["Bill", "Bob", "David", "Julio"]

if "David" in invite_list:
    print("David is in the list")

David is in the list

In [51]:
price = int(input("How much did you spend"))

if price < 10:
    print("You spent a total of " + str(price))
elif price < 50:
    print("You spent a good amount of " + str(price))
else:
    print("You are spending too much " + str(price))

You are spending too much 80

In [54]:
small_sale = []
medium_sale = []
big_sale = []

sale_list = [1,5,10,15,30,100,87,75,20]

for sale in sale_list:
    if sale < 10:
        small_sale.append(sale)
    elif sale < 25:
        medium_sale.append(sale)
    else:
        big_sale.append(sale)

print(small_sale)
print(medium_sale)
print(big_sale)

[1, 5]
[10, 15, 20]
[30, 100, 87, 75]

In [57]:
grade = 90

if grade >= 90:
    if grade >= 97:
        print(str(grade) + " is an A+")
    elif grade >= 93:
        print(str(grade) + " is an A")
    else:
        print(str(grade) + " is an A-")
elif grade >= 80:
    if grade >= 87:
        print(str(grade) + " is an B+")
    elif grade >= 83:
        print(str(grade) + " is an B")
    else:
        print(str(grade) + " is an B-")

90 is an A-

In [63]:
# For loop


# for value in sequence(list,str):
    # command

integers = [1,2,3,4,5]

for value in integers:
    print(value)

1
2
3
4
5

In [68]:
# For loop number assignment

i = 0

flavor_ic = ["Chocolate", "Vanilla", "Mint", "Strawberry"]

for flavor in flavor_ic:
    print(i,flavor)
    i += 1

0 Chocolate
1 Vanilla
2 Mint
3 Strawberry

In [69]:
for counter, flavor in enumerate(flavor_ic):
    print(counter, flavor)

0 Chocolate
1 Vanilla
2 Mint
3 Strawberry

In [73]:
# Looping through dictionaries
customer_dict = {"Name": "Bob", "Age": 5, "Gender": "Female"}

for keys in customer_dict:
    print(keys)

Name
Age
Gender

In [74]:
# Looping through dictionaries
customer_dict = {"Name": "Bob", "Age": 5, "Gender": "Female"}

for values in customer_dict.values():
    print(values)

Bob
5
Female

In [76]:
# Looping through dictionaries
customer_dict = {"Name": "Bob", "Age": 5, "Gender": "Female"}

for key,value in customer_dict.items():
    print(key, value)

Name Bob
Age 5
Gender Female

In [82]:
# For loop
divisible_by_3 = []
divisible_by_7 = []

x = 0
y = 0

for num in range(100):
    if num % 3 == 0:
        divisible_by_3.append(num)
        x += 1
    elif num % 7 == 0:
        divisible_by_7.append(num)
        y += 1
print("There are " + str(x) +" numbers that are divisible by 3")
print("There are " + str(y) +" numbers that are divisible by 7")

There are 34 numbers that are divisible by 3
There are 10 numbers that are divisible by 7

In [84]:
# Nested for loop

greetings = ["Hi", "Hello", "Whats up G"]

for word in greetings:
    for letter in word:
        print(letter)

H
i
H
e
l
l
o
W
h
a
t
s

u
p

G

In [85]:
flavors = ["Vanilla", "Chocolate", "Cookie Dough"]
toppings = ["Hot Fudge", "Rainbow Sprinkles"]

for flavor in flavors:
    for topping in toppings:
        print(flavor, topping)

Vanilla Hot Fudge
Vanilla Rainbow Sprinkles
Chocolate Hot Fudge
Chocolate Rainbow Sprinkles
Cookie Dough Hot Fudge
Cookie Dough Rainbow Sprinkles

In [87]:
# While loop
counter = 0

while counter <= 10:
    print(counter)
    counter += 1

0
1
2
3
4
5
6
7
8
9
10

In [91]:
# While loop with list

my_list = ["Bob", "Billy", "Jack", "Grey"]
i = 0


while my_list[i] != "Jack":
    print(my_list[i])
    i += 1

Bob
Billy

In [92]:
# Break
x = 0

while x < 10:
    if x == 5:
        break
    print(x)
    x += 1

0
1
2
3
4

In [96]:
# Continue
x = 0

while x < 10:
    x += 1
    if x == 5:
        continue
    print(x)

1
2
3
4
6
7
8
9
10

In [97]:
# While Else

x = 0

while x < 5:
    print(x)
    x += 1
else:
    print("x is no longer less than 5")

0
1
2
3
4
x is no longer less than 5

In [98]:
# Pass
# Pass is a placeholder and  is used when a statement is requires.

x = 0

while x < 5:
    if x ==3:
        pass
    print(x)
    x += 1

0
1
2
3
4

In [106]:
# List comprehesnison
new_list = [x**2 for x in range(10) if x % 2 == 0]
print(new_list)

[0, 4, 16, 36, 64]